<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      <a href="/admin/products">Products</a>
    </h3>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      <a href="/admin/categories">Categories</a>
    </h3>
  </div>
</div>
